<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="vendor/autoload.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
	<testsuites>
		<testsuite name="Shunt Test Suite">
			<directory suffix="Test.php">src/League/Shunt/Tests</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/League</directory>
		    <exclude>
		      <directory suffix=".php">src/League/Shunt/Tests</directory>
		    </exclude>
        </whitelist>
	</filter>
</phpunit>